---
import FeatureSection from "../../components/FeatureSection.astro";
import Layout from "../../layouts/Layout.astro";
import HeroSection from "../../components/HeroSection.astro";
import ProgramSection from "../../components/ProgramSection.astro";
import DistancesSection from "../../components/DistancesSection.astro";
import GallerySection from "../../components/GallerySection.astro";
import AccommodationSection from "../../components/AccommodationSection.astro";
import AboutSection from "../../components/AboutSection.astro";
import InfoSection from "../../components/InfoSection.astro";
import Footer from "../../components/footer.astro";
---

<Layout>
  <!-- ðŸ–¼ï¸ Bakgrunnsbilde som dekker hele siden -->
  <div
    class="absolute inset-0 -z-10 bg-[url('/torghatten20150217_1600.jpg')] bg-cover bg-center"
  >
  </div>

  <!-- Seksjoner -->
  <HeroSection />
  <FeatureSection feature="ProgramSection"><ProgramSection /></FeatureSection>
  <DistancesSection />
  <FeatureSection feature="InfoSection"><InfoSection /></FeatureSection>
  <GallerySection />
  <AccommodationSection />
  <AboutSection />

  <!-- Footer nederst -->
  <Footer />
</Layout>
