---
import { useTranslations } from "../utils/useTranslations.ts";

const { t } = useTranslations(Astro.url);

const { tittel = t("classList.title"), klasser = [] } = Astro.props;
---

<section class="bg-gray-100/90 py-12 px-6 backdrop-blur-sm">
  <div class="max-w-4xl mx-auto text-center">
    <h2 class="text-2xl font-semibold mb-4">{t("classList.heading")}</h2>
    <p class="mb-6 text-lg font-medium text-gray-800">{tittel}</p>

    <ul class="flex flex-wrap justify-center gap-2">
      {
        klasser.map((klasse: string, index: number) => (
          <li>
            <span
              class={`inline-block px-4 py-1 rounded-full text-sm font-medium shadow ${
                index % 2 === 0
                  ? "bg-yellow-200 text-black"
                  : "bg-yellow-300 text-black"
              }`}
            >
              {t(`classList.groups.${klasse}`) ?? klasse}
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</section>
