---
import SignupButton from "./signupButton.astro";
import { isFeatureActive, getFeatureText } from "../config/siteConfig.ts";
import { useTranslations } from "../utils/useTranslations.ts";
import { navLinks } from "../config/navLinks.ts";

const { t } = useTranslations(Astro.url);
---

<section
  class="relative min-h-screen bg-[url('/herosek-tmbru.jpg')] bg-cover bg-center bg-fixed text-white flex flex-col"
>
  <!-- Overlay for mørkere bakgrunn -->
  <div class="absolute inset-0 bg-black/60 z-0"></div>

  <!-- Logo -->
  <img
    src="/tm-logo.jpg"
    alt="Torghatten Maraton logo"
    class="absolute top-15 left-0 w-40 md:w-60 opacity-80 z-10 drop-shadow-md rounded-xl"
    style="box-shadow: 4px 4px 15px rgba(234, 179, 8, 0.5);"
  />

  <!-- Innhold -->
  <div
    class="relative z-10 flex flex-col flex-grow justify-start items-center px-4 pt-80 md:pt-80 pb-16 text-center"
  >
    <h1 class="text-4xl md:text-5xl font-bold mb-4 text-yellow-400">
      {t("hero.title")}
      {isFeatureActive("raceYear") && ` ${getFeatureText("raceYear")}`}
    </h1>

    <p class="text-lg md:text-xl mb-6 max-w-2xl">
      {t("hero.subtitle")}
      {isFeatureActive("raceDate") && ` – ${getFeatureText("raceDate")}`}
    </p>

    <SignupButton />
  </div>
</section>
